body{font-family: 'Inter', sans-serif;}
div{padding-bottom:20px;}
a {color:black;font-size:10px;
text-decoration:none; padding-right:0px;
margin:10px;
display:inline-block;}
.Endpage {text-align:center;}
p {text-indent:12px;font-size:12px;}
h1{color:#0F0E0E;font-size:25px;}
.topnav {background-color:white;padding:0;
box-shadow:0 4px 4px -4px rgba(0,0,0,.2);
margin-bottom:10px;}
.topnav button {position:absolute;right:5%;
top:20px;
font-family: 'Inter', sans-serif;}
.topnav img {width:60px;height:60px;}
button {border:0;font-size:10;
border-radius:5px;
background-color:#FFB72B;color:white;
padding:10px;margin-top:10;
font-family: 'Inter', sans-serif;}
button:hover {background-color:white;
color:#FFB72B;
font-family: 'Inter', sans-serif;}
.custom-select {
  position: relative;
  font-family: 'Inter' , sans-serif;}
select{background-color:#FFB72B;
width:100%;color:white;
font-size:25px;
height:40px;
-webkit-appearance:none;
border-radius:5px;
text-align-last:center; }

.buttons {
padding:10px;
margin:20px;
}  
.buttons button {margin-left:20px;

padding:10px;
}
.card {
text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  transition: 0.3s;
  border-radius: 5px; 
  width:100%;
  height:60%;
 
}


img {
  border-radius: 5px 5px 0 0;
}
.inv {
display:none;
}